$primary-background: url('../images/main2.jpg');
$border-text-color: #FFF;
$primary-color: #DC9E8B;
$secondary-color: #FFD98A;
$main-font: 'Raleway', sans-serif;
$accent-font: 'Dancing Script', cursive;
// 'Raleway', sans-serif

html {
  background: url('../images/main2.jpg') no-repeat center center fixed;
}

body {
  font-family: $main-font;
}

header {
 width: 80%;
 height: 160px;
 border: 4px solid $border-text-color;
 margin: 0 auto;
 background-color: $primary-color;
 color: $border-text-color;

 img {
  margin-right: 20px;
  width: 16%;
  height: 100%;
  float: left;
 }

 h1 {
  // padding: 0px 10px;
  font-family: $main-font;
  margin-block-end: .5em;
 }

 p {
  // padding: 0px 10px;
  font-family: $accent-font;
  font-size: 2em;
  margin-block-start: 0;
  margin-block-end: .5em;
 }
}

